Package: python-quantities
Version: 0.10.0-1
Architecture: all
Maintainer: Jean-Philippe Thierry <jphthierry.perso@gmail.com>
Installed-Size: 508
Depends: python (>= 2.6), python-support (>= 0.90.0), python-numpy (>= 1.4.0)
Provides: python2.6-quantities
Section: python
Priority: optional
Homepage: http://packages.python.org/python-quantities
Description: Support for physical quantities with units, based on numpy
 Quantities is designed to handle arithmetic and
 conversions of physical quantities, which have a magnitude, dimensionality
 specified by various units, and possibly an uncertainty. See the tutorial
 for examples. Quantities builds on the popular numpy library and is
 designed to work with numpy ufuncs, many of which are already
 supported. Quantities is actively developed, and while the current features
 and API are stable, test coverage is incomplete so the package is not
 suggested for mission-critical applications.
 .
 Tutorial: http://packages.python.org/quantities/user/tutorial.html
